{% extends 'posts/index.html' %}
{% block posts%}
<div id="QuestionUpdateForm">
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token%}
        <p>
            <label for="id_powerteam">PowerTeam: </label><br>
            {{ questionForm.powerteam }}
        </p>
        <p>
            <label for="id_title">Tiêu đề: </label><br>
            {{questionForm.title}}
        </p>
        <p>
            <label for="id_description">Mô tả: </label><br>
            {{questionForm.description}}
        </p>
        {% if question.images %}
        <p>
                <label for="imgCurrently">Ảnh: </label>
                <img style="max-height: 100px;max-width: 100px;margin-right: 20px;" src="{{question.images.url}}" id="imgCurrently">
                <label for="ClearImg">Xoá ảnh: </label>
                <input type="checkbox" name = 'images-clear' id="ClearImg">
        </p>
        {%endif%}
            <p>
                <label for="ChangeIMG">Thay đổi ảnh: </label><br>
                <input type="file" name = 'images' accept="image/*" id="ChangeIMG">
            </p>
        <button type="submit" class="btn btn-primary">Gửi</button>
    </form>
</div>

{% endblock %}